{
  "extends": ["app/node"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./tools/games-scraper",
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "ignorePatterns": ["**/*.d.*", "**/*.js", "src/app.ts", "forge.config.ts"],
  "rules": {
    "no-console": "off",
    "no-plusplus": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
          "project": "tools/games-scraper"
      }
    }
  }
}
